
streamlit==1.40.1
streamlit-authenticator==0.4.1
streamlit-option-menu==0.4.0
streamlit==1.12.0
pandas==1.3.3
scikit-learn==1.0.2
streamlit-option-menu==0.3.0
film-utils==0.1.0  # Si vous avez cette bibliothèque custom
series-utils==0.1.0  # Si vous avez cette bibliothèque custom
